<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookSystem</title>
    <script type="importmap"></script>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/BookSystemRazor.styles.css" asp-append-version="true" /> 
    
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="main-nav"> 
            <div class="container nav-container"> <a class="logo" asp-area="" asp-page="/Index">HomePage</a> <button class="menu-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon"></span> </button>
                
                <div class="nav-links-wrapper"> 
                    <ul class="nav-list left-nav"> 
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Main">Library</a>
                        </li>
                        <li class="nav-item"></li>
                            <a class="nav-link" asp-area="" asp-page="/Main">Add New Book</a>
                        </li>
                    </ul>
                    <ul class="nav-list right-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Login">Login</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container main-content"> <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="main-footer"> 
        <div class="container footer-content"> &copy; 2025 - BookSystemRazor - <a asp-area="" asp-page="/Main">Strona główna</a> 
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>